@import "theme-variables";

// Allow suggested line breaks with hyphens - help to achieve
// an appearance closer to the graphic design
p {
	hyphens: manual !important;
}

// Generic button adjustments
.et_pb_button {
	padding: 1.75em 3em 1.75em 1.75em !important;
	font-weight: 900 !important;
	color: #fff !important;

	&:after {
		font-weight: 900 !important;
	}
}

// Set form input placeholder text color
.contact-form {
	input, textarea {
		&::placeholder {
			color: $color-blue;
		}
	}
}
