@import "../theme-variables";

@mixin makeHeroPadding($navbar-height, $paddingBottom) {
	$compensation: 53px;
	padding-bottom: $paddingBottom !important;
	padding-top: $navbar-height / 2 + $paddingBottom + $compensation !important;
}

.hero {
	@include makeHeroPadding($navbar-height-full, 140px);

	@media (max-width: 980px) {
		@include makeHeroPadding($navbar-height-min, 80px);
	}

	@media (max-width: 48em) {
		@include makeHeroPadding($navbar-height-min, 40px);
	}
}

.hero-text {
	// Limit the width of the text block
	max-width: 42rem;

	// The main heading
	h1 {
		// Increase font weight in <strong>
		font-weight: 900;

		// Reduce font size on small screens to fit words
		@media (max-width: 48em) {
			font-size: 2rem !important;
		}
	}
}

.hero-recycling-symbol {
	// Positioning
	position: absolute !important;
	top: 3rem;
	right: -9rem;

	// Make sure it doesn't cover the text if they overlap
	z-index: -1;

	// At this breakpoint, the symbol is expected to start overlapping with the text
	@media (max-width: 75em) {
		opacity: 0.5;
	}
}

