@import "../mixins/hover_underline";

// Apply hover effect to the desktop menu items
#top-menu .menu-item > a {
	@include hover_underline;
}

// Correct the hamburger color
.mobile_menu_bar_toggle:before {
	color: #fff !important;
}

// Ensure good visibility of mobile menu items by inverting the colors
#mobile_menu {
	background: #fff !important;

	a {
		color: #0f0f0f !important;
	}
}
