// Underline hover effect for the top menu
@mixin hover_underline {
	// Provide a point of reference for the absolutely positioned underline pseudoelement
	position: relative;

	// Remove Divi-default hover effect
	&:hover {
		opacity: 1 !important;
	}

	// The pseudoelement that is the underline
	&:after {
		content: " ";
		position: absolute;
		top: 1.6em;
		left: 3px;
		height: 3px;
		width: 0;
		background-color: #63b12d;
		transition: width 0.3s;
	}

	&:hover:after {
		width: 100%;
	}
}
